<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness records</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

    <div class="container">
        <h1> Fitness records</h1>
        <br>
        <a th:href="@{/showAddForm}" class="btn btn-info">To add new record</a>
        <hr>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Exercise name</th>
                    <th>Time spent (mins)</th>
                    <th>Training area</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record : ${listRecords} ">
                    <td th:text="${record.date}"></td>
                    <td th:text="${record.exerciseName}"></td>
                    <td th:text="${record.timeSpent}"></td>
                    <td th:text="${record.area.areaName}"></td>
                    <td>
                        <a th:href="@{/update/{id}(id=${record.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/delete/{id}(id=${record.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total records: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>